table, th, td {
	margin: auto;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

div.float_left{
	float:left;
	width:50%;
}
a.absolute {
	position: absolute;
	top: 10px;
	right: 5px;

/*	border: 3px solid #73AD21;*/
}
div.img{
	width:70%;
	margin:auto;
}

h1,h2,div.button,div.radio{
	padding: 5px;
	text-align: center;
}
	
img{
	width:100%;
}

input{
	text-align: center;
}