.left {
	float: left;
	margin: auto;
	width: auto;
}
.center {
	margin: auto;
	width: 80%;

}

h1,h2{
	padding: 5px;
	text-align: center;
}

h3 {
	display: inline;
}

span:hover {
	background-color: LightGray;
}